.wrap-carousel{
    background-color: rgb(38, 37, 37);
    padding: 22px;
    width: 700px;
    display:block;
}
.carousel-grid{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.btn-arrow{
    cursor: pointer;
    margin-top: -22px;
    padding: 16px;
    color: rgb(69, 69, 69);
    background-color: aliceblue;
    transition: 0.6s ease;
    border-radius: 50%;
    user-select: none;
}
.btn-arrow:hover{
    background-color: rgba(0,0,0,0.8);
}
.carousel-buttons{
    position: absolute;
    top: 50%;
    width: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 1;
}
