
.card-name{
  font-size: 20px;
}
.car-price{
    font-weight: 500;
}

.wrap-card{
    padding: 1px;
    background-color: rgb(56, 56, 56);
    margin: 1.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}
.box-img-card{
    width: 100%;
    height: 200px;
}

.card-img{
    width: 100%;
    height: 100%;
}

.card-content:hover{
    color: aquamarine;
    box-shadow: 0.2 0.4 0.5 aquamarine;
}
